@charset "utf-8";

body{font-family: ' Philosopher','Arita-dotum', sans-serif; font-size: 1.6rem;line-height: 1.5; color:#000; word-break: keep-all;}
/* word-break: keep-all 단어 안끊긴게 */


#header{ border-bottom: 1px solid #eee;}
#header .inner{display: flex; justify-content: space-between; width: 1200px; margin:0 auto;  }
#header .gnb{display: flex; gap: 50px; }
#header .gnb li a{ display: block; padding: 20px; font-weight: 700;}
