@charset "utf-8";

#main{width: 100%;padding-top: 77px;position: relative; }

#main .intro{ height: 900px; background: url(../img/main/grid.png)no-repeat center #FEEEDE; background-size: cover;}
#main .intro h2{color: #869C51; font-weight: bold;font-size: 20rem; text-align: center;padding-top: 200px;}
#main .intro .m_sub_text{font-weight: 600; text-align: center; font-size: 3rem; font-family:  'sans-serif';}










/* intro */

#main .intro_2{ position: relative;height: 900px;}
#main .intro_2 p img{display: block; position:absolute; top: 100px;left: 0; opacity: 0.1;}
#main .intro_2::before{content: ''; display: block; width: 600px; height:900px; background: #869C51; position: absolute;top: 0; left: 0;}
#main .intro_2::after{content: ''; width: 1px; height: 100%; display: block; background: #869C51; position: absolute; top: 0; right: 50px;}
#main .intro_test{ height: 100%; display: flex;}
#main .intro_test .left{width: 600px;}
#main .intro_test .left h3 span{font-weight: 400;}
#main .intro_test .left h3{font-size: 3.5rem; position: absolute; bottom: 43%; left: 120px; color: #fff;}
#main .intro_test .left p{font-size: 1.5rem; color:#fff;position: absolute; bottom: 30%; left: 120px; font-weight: 700; opacity: 0.7;}
#main .intro_test .left img{ display: block; position: absolute;top: 150px; left:450px;}

#main .intro_test .right{width: calc(100% - 600px);position: relative;display: flex;}
#main .intro_test .right .text_box{ width: 300px; height: 600px; /* border: 1px solid #000; */position: absolute; top: 150px; right:650px; text-align: right;}
#main .intro_test .right .text_box li::before{content: '';display: block; width: 3px; height: 10px; background: #869C51; position: absolute;top: 45px; right:-20px;}

#main .intro_test .right .text_box li{color:#869C51; font-weight: bold; padding: 35px;font-size: 2rem;position: relative; }
#main .intro_test .right .text_box2{ width: 300px; height: 600px; position: absolute; top: 150px; right: 330px ; padding: 20px; font-size: 1.3rem;}
#main .intro_test .right .text_box2 dl{padding: 20px 0; font-family: 'sans-serif'; font-weight: 700; color: #999; }
#main .intro_test .right .text_box2 dl:nth-child(3){padding: 40px 0 ;}
#main .intro_test .right .text_box2 dl:nth-child(4){padding: 10px 0 ;}
#main .intro_test .right .text_box2 dl:nth-child(5){padding: -10px 0 ;}







/* intro_2 */



#main .project{ width: 100%; /* height: 900px; */ font-family: 'sans-serif'; ; }

#main .project .on{width: 100%; background: rgba(0,0,0,0.5); opacity: 0;}
#main .project .on:hover{opacity: 1;}
#main .project dl > dt{font-size: 2.5rem; font-weight: 700; text-align: center; color: #fff;}
#main .project dl > dd{font-size: 1.8rem; font-weight: 600; text-align: center; color: #fff; border:1px solid #fff; border-radius: 50px; text-align: center; padding: 5px 30px;}
#main .project .prt{display: flex;}
#main .project .prt_left {position: relative; width:942px; display: flex; background:hotpink; height: 900px; background: url(../img/main/main_wep_project.jpg) no-repeat center center; background-size: cover;}

#main .project .prt_left a{display: block;}
#main .project .prt_left dl{ background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }

#main .project .prt_right{width: calc(100% - 942px);}


#main .project .prt_right .prt_top{display: flex; height: 450px;}
#main .project .prt_right .prt_top li{width: calc(100% / 2);position: relative;}
#main .project .prt_right .prt_top li dl{background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#main .project .prt_right .prt_top li img{width: 100%; height:100%;}

#main .project .prt_right .prt_bottom{display: flex; height: 450px;}
#main .project .prt_right .prt_bottom li{width: calc(100% / 2); position: relative;}
#main .project .prt_right .prt_bottom li dl{background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#main .project .prt_right .prt_bottom li a {display: block; width: 100%;height: 100%;}
#main .project .prt_right .prt_bottom li img{width: 100%; display: block;}

#main .project .prt_right .prt_bottom li video{width: 100%; height: 450px; }

/* project */
@keyframes ani {
    0%{
        transform:translate(0,0);
    }
    50%{
        transform:translate(0,10px);
    }
    100%{
        transform:translate(0,0);
    }
}


#main .skill {background: #FEEEDE;height: 900px; }
#main .skill h2{text-align: center; font-size: 6rem; padding-top: 80px; color: #869C51; }
#main .skill .sk_list{ display: flex; gap: 20px; width: 1200px; margin: 0 auto; padding-top: 100px; }

#main .skill .sk_list dl{width: 250px; height: 350px; background: #fff; text-align: center; position: relative; }

#main .skill .sk_list dl img{animation: ani 2s infinite;}
#main .skill .sk_list dl h3{animation: ani 2s infinite; position: absolute; top: 30%; left: 38%; font-size: 3rem; font-family: 'sans-serif';} 
#main .skill .sk_list dl .donut{padding-top: 50px;}

#main .skill .sk_list dl dt{font-family: 'sans-serif';font-size: 2.5rem; font-weight: 900; text-align: center;  padding-top: 30px;}
#main .skill .sk_list dl dt dd{color: #999; font-size: 1.8rem; }

/* skill */



#footer {height: 40px;}
/* #footer .epilogue{ font-size: 6rem; color: #869C51;text-align: center;  font-weight: bold;}
#footer::before{content: ''; display: block; width:100%; height: 1px; background: #869C51; position: absolute; bottom: 50px; right: 50px;} */
/* #footer::after{content: ''; display: block; width:1px; height: 100%; background: #869C51; position: absolute; top: 0; right:50px ;}
 */
#footer .f_bottom{width:100%; height: 100px; background: #869C51;text-align: center; padding-top: 40px; color: #fff;}

